<!DOCTYPE html>
<html>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/drawfuncs.js"></script>

<head>
	<title><%= title %></title>
	
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/system.css" rel="stylesheet" />

<script>
	//get the data
	json = <%- JSON.stringify(system) %>;
	_colors = json.colors;//<%- JSON.stringify(system.colors) %>
	colors = _colors.split(',');
	//colors2 = JSON.parse('{colors: ['+JSON.stringify(colors)+']}');

	console.log("colors = "+colors);
	console.log(json);
	//console.log(colors.split(','));
</script>
</head>
<body>
  <h3 contenteditable="true"><%= title %></h3> 
</br>
</body>
<div class = "canvas"></div>
<div id = "controls" align = "center">
	<form id = "input">
		<label for ="dx"> &#916x = </label>
		<input id = "dx" type = "text" class = "equation" value = "<%= system.dx %>">
		</br>
		<label for ="dy"> &#916y = </label>
		<input id = "dy" type = "text" class = "equation" value = "<%= system.dy %>">
		</br>
		<script>
			//var colors = JSON.parse(json.colors);
			//console.log("colors = "+colors+"\nlength = "+colors.length);
			s = "";
			for (var i=0; i<colors.length;i++){//json.colors.length;i++){
				s += '<input class="color"  value = "'+colors[i]+'" id = "color'+i+'">';
			}
			document.write(s);
		</script>
		</br>
		</br>
		<input type = "submit" value = "SAVE" id = "save">
		<input type = "submit" value = "DRAW" id = "draw">
	</form>
</div>
<script>
	//dynamically create the canvas
	var canvas = document.createElement('canvas');
	canvas.id     = 'canvas';
	canvas.width = window.innerWidth*0.6;
	canvas.height = window.innerHeight*0.6;
	canvas.style.border   = "1px solid";
	$('.canvas').append(canvas);
	var canvas = document.getElementById("canvas");
	var ctx = canvas.getContext('2d');
	ctx.beginPath();
	ctx.fillStyle = "#FFFFFF";
	ctx.rect(0,0,canvas.width,canvas.height);
	ctx.fill();

	$(function(){
		$("#draw").click(function(e){
			console.log("draw");
			e.preventDefault();
			var cc = getcolors();
			console.log(cc);
			draw(cc);
		});
	});

	$(function(){
		$("#save").click(function(e){
			console.log("save");
			e.preventDefault();
			var system = {
				title: "Untitled",
				dx: "sin(3*y)",
				dy: "-sin(5*x)",
				colors: ["#6BDB40", "#7140DB", "#3D3618","#4A479E", "#0B2E03"]
			};
			$.ajax({
            	type: 'POST',
            	data: system,
            	url: '/save',
            	dataType: 'JSON'
        	}).done(function( response ) {
            // Check for successful (blank) response
            if (response.msg === '') {
            	console.log("save successful");
            }
            else {
                // If something goes wrong, alert the error message that our service returned
                alert('Error: ' + response.msg);

            }
        });
		});
	});

</script>
</html>