<!DOCTYPE HTML>
<html>
<head>
    <title>pixi.js example 1</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #000000;
            text-align: center;
        }
    </style>
    <script src="/js/pixi.js"></script>
</head>
<body>
    <script>
 
    // create an new instance of a pixi stage
    var stage = new PIXI.Stage(0xFFFFFF);
 
    // create a renderer instance.
    var renderer = PIXI.autoDetectRenderer(window.innerWidth, window.innerHeight);
 
    // add the renderer view element to the DOM
    document.body.appendChild(renderer.view);
 
    var list = [];
    for(var k = 0; k < 100; k++){
    	list[k] = {x:Math.random()*window.innerWidth, y:Math.random()*window.innerHeight, color:(Math.random()*0xFFFFFF<<0), g: new PIXI.Graphics()};
		list[k].g.beginFill(list[k].color, 1);    	
		list[k].g.drawCircle(list[k].x,list[k].y,5);
		list[k].g.endFill();
		stage.addChild(list[k].g);
    }

    requestAnimFrame( animate );

    function animate() {
 
        requestAnimFrame( animate );
        for (var i = 0; i < list.length; i++){
        	list[i].x += 2;
        	list[i].y += 3;
        	list[i].g.clear();
        	list[i].g.beginFill(list[i].color, 1);    	
			list[i].g.drawCircle(list[i].x,list[i].y,5);
			list[i].g.endFill();
        }
 		// render the stage   
		renderer.render(stage);
    }

    </script>
 
    </body>
</html>