	* {
	  	font-family: Georgia;
	  	text-align: center;
	}
	html {
		background-color: #E8E7E1;
	  	background-position:center; 
	}
	h3{
		color: #444444;
		font-family: Georgia;
		font-size: xx-large;
	}
	div{
		background-color:transparent;
	}
	body {
		margin-top: 2cm;
		font-family: Georgia;
    	background-color:transparent;
		padding-bottom: 2%;
		overflow:auto;
		margin-bottom: 2cm;
	}
	.row{
		background-color:transparent;
		border-width: 3;
		margin-top: 2px;
	}
	.container{
		background-color:transparent;
		overflow:auto;
	}
	.clear {
  		clear: both;
	}
